main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px;
}

form p {
    color: white;
    display: flex;
    flex-direction: column;
}

form h2 {
    color: white;
}