main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main > * {
    margin: 25px;
}

section h1, p, label {
    color: white;
}

section {
    width: 666px;
    justify-content: center;
    height: 100%;
}

section h1 {
    font-size: 50px;
    font-style: italic;
    margin: 5px;
}

#movie-picture {
    max-width: 500px;
}

#movie-detail-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 22px;
}

#movie-detail-area span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#user-rating-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
}

#rating-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#options {
    justify-content: space-evenly;
    width: 50%;
    margin: 0px 40px 0px 10px;
}

#options li {
    list-style: none;
}

#rating-buttons > * {
    display: flex;
    justify-content: space-between;
    align-items: space-evenly;
}

#user-rating-label {
    align-self: flex-start;
    margin: 22px;
}

#submit-user-rating {
    display: block;
    width: 22%;
}

#movie-ratings {
    width: 100%;
    height: 100%;
    margin: 22px
}

#movie-ratings {
    width: 100%;
}

#movie-ratings span {
    display: flex;
    justify-content: space-evenly;
}

#movie-ratings p {
    text-align: center;
    width: 50%;
    margin: 0px;
}